@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .glass-card {
    @apply border shadow-lg bg-white/70 dark:bg-black/50 backdrop-blur-md border-white/20 dark:border-white/10;
  }

  .text-balance {
    text-wrap: balance;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }
}